.baate{
    display: flex;
    justify-content: center;
    align-items: center;
  transition: all 1.4s;


}
.cldr{
    width: 246px;
  transition: all 1.4s;


}
.baate:hover> .cldr{
    width: 246px;
    padding-right: 5px;

}



.pr {
    font-family: "Exo 2", sans-serif;
 display: flex;
 color: #fec63f;
 font-size: 41px;
 transition: all 1.4s;

}
.sep{
    font-family: "Exo 2", sans-serif;
    display: flex;
    font-size: 20px;
    color: #02ffaab5;
  transition: all 1.4s;


}









.baate1{
    padding-top:  35px;
    display:block ;
    justify-content: center;
    align-items: center;
    font-family: "Exo 2", sans-serif;

}
.kt{
    /* background: #d6d6d645; */

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgba(72, 22, 22, 0.814);
}

.kt div{
    padding: 0px 10px;
    font-size: 30px;
    color: #fc8f00;
}
.sp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sp img{
    width: 94px;
    margin: 10px 20px 10px 20px;

}
.sp div{
    font-size: large;
    font-weight: bold;
 color: rgb(241, 168, 249);
 color: rgb(255 165 196);
}

.baate2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.baate2 video{

width: 100%;
}
.baate3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.baate3 video{
    width: 360px;
  
}











