*{
    margin: 0;
    padding: 0;
}
.main1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main1 img{
   
width: 250px;
}





.row{

}



.imgc{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.imgc img{
    width: 300px;
}
.gif1{
    padding: 10px;
display: flex;
justify-content: center;
align-items: center;

}
.gif1 img{
    width: 200px;
}





.next{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* background-image: linear-gradient(120deg, #cfcfcf9b 0%, #3030306c 100%); */

}
.next a {
    background: #fa6298;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
   border-top-left-radius: 30px;
   border-bottom-right-radius: 30px;
    transition: .4s;
}

.next a:hover {

    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
    color: #f9004d;

    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
